@charset "UTF-8";
@font-face {
  font-family: "WorkSans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "WorkSansItalic";
  src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "WorkSansBold";
  src: url("./assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "WorkSansRegular";
  src: url("./assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WorkSansSemiBold";
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #333;
  color: hsl(292, 42%, 14%);
  font-family: "WorkSansRegular", sans-serif;
  font-size: 15px;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: hsl(275, 100%, 97%);
}

.bg {
  width: 100%;
  height: 30%;
  background: url(/assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
  background-color: hsl(0, 0%, 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  font-family: "WorkSans", sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
}
.title .h1-style {
  font-size: 25px;
  text-transform: uppercase;
}
.title .star-icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.cards {
  max-height: 500px; /* Ustaw maksymalną wysokość kontenera listy */
  overflow-y: auto; /* Włącz przewijanie w pionie, gdy zawartość przekroczy limit */
  padding-right: 10px; /* Opcjonalne: Ustawienie odstępu na pasek przewijania */
}

ul {
  list-style-type: none;
}
ul li {
  display: flex;
  flex-direction: column;
}
ul li .question-box {
  display: flex;
  padding: 25px 0 25px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(95, 95, 95, 0.2);
  font-weight: 700;
}
ul li .question-box span {
  display: flex;
  justify-self: center;
  align-self: center;
  padding-left: 20px;
}
ul li .question-box span svg {
  width: 25px;
  height: 25px;
}
ul li .answer-box {
  padding: 5px;
}
ul li .answer-box p {
  padding: 0 0 25px 0px;
  font-family: "WorkSansItalic", sans-serif;
  font-style: italic;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.7);
}
ul li .first {
  border: none;
}

@media (min-width: 768px) {
  .content-box {
    width: 600px;
  }
}/*# sourceMappingURL=style.css.map */