@use './colors' as colors;
@use './fonts' as fonts;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #333;
	color: colors.$Dark-purple;
	font-family: fonts.$regular;
	font-size: 15px;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: colors.$Light-pink;
}

// background

.bg {
	width: 100%;
	height: 30%;
	background: url(/assets/images/background-pattern-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.content-box {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 300px;
	// height: 600px;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3); // to fix
	background-color: colors.$White;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	display: flex;
	width: 100%;
	height: 10%;
	// justify-content: center;
	align-items: center;
	// background-color: antiquewhite;
	font-family: fonts.$variable;
	font-weight: 300;
	padding-bottom: 10px;

	.h1-style {
		font-size: 25px;
		text-transform: uppercase;
	}

	.star-icon {
		width: 25px;
		height: 25px;
		margin-right: 15px;
	}
}

ul {
	list-style-type: none;

	li {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		// align-items: center;
		// width: 100%;
		// height: 50px;
		// border-width: 90px;

		.question-box {
			display: flex;
			padding: 25px 0 25px 0px;
			// height: 100px;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid rgba(95, 95, 95, 0.2);
			font-weight: 700;

			span {
				display: flex;
				// width: 50px;
				// height: 50px;
				justify-self: center;
				align-self: center;
				padding-left: 20px;

				svg {
					// align-content: center;
					width: 25px;
					height: 25px;
				}
			}
		}

		.answer-box {
			padding: 5px;
			p {
				padding: 0 0 25px 0px;
				font-family: fonts.$italic;
				font-style: italic;
				font-size: 14px;
				color: rgba(128, 128, 128, 0.7);
			}
		}

		.first {
			border: none;
		}
	}
}

@media (min-width: 768px) {
	.content-box {
		width: 600px;
	}
}
