@use './colors' as colors;
@use './fonts' as fonts;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #333;
	color: white;
	font-family: fonts.$regular;
	font-size: 16px;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: colors.$Light-pink;
}

.bg {
	width: 100%;
	height: 30%;
	background: url(/assets/images/background-pattern-desktop.svg);
}

.content {
	position: absolute;
	width: 500px;
	height: 500px;
	background-color: aqua;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}
